extends layout
block append header
	script(type='text/javascript', src='/testuser.js')
block content
	body
		div.row
		input#email(name='email', type='email')
		input#choice(name='choice', type='text')
		input#msg(name='msg', type='text')
		button#join(name='join', value='Join') Stop
