doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/normalize.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		script(type='text/javascript', src='/javascripts/vendor/custom.modernizr.js')
	body
		div
			block content