extends layout
block append header
	script(type='text/javascript', src='/gameengine.js')

block content
	div.large-12
		h1 coRPS
	div.row
		div.large-6.columns 
			span Score: 
			span#scoreA
		div.large-6.columns
			span Score:
			span#scoreB
	div.row
		div#teamA.large-6.columns.box
		div#teamB.large-6.columns.box
			