extends layout

block append header
	script(type='text/javascript', src='/md5.min.js')
	script(type='text/javascript', src='/gameengine.js')
	script(type='text/javascript', src='/canvas.js')
	script(type='text/javascript', src='/ocanvas-2.5.1.min.js')

block content
	div#splash
		div#reds.half
			img#logo(src="image/logo.png")
			a(href="#start")
				div#start Start
		div#text.half
			p send an email to
				span email@corpsgame.bymail.in
			p with the subject being
				span ROCK, PAPER, or SCISSORS
			p.footnotes Change your choice and add new comments by sending another email.