extends layout

block append header
	script(type='text/javascript', src='/gameengine.js')
	script(type='text/javascript', src='/canvas.js')
	script(type='text/javascript', src='/ocanvas-2.5.1.min.js')

block content