extends layout

block content
	div.large-12
		h1 coRPS
	div.row
		div#score-left.large-6.columns Score: 
		div#score-right.large-6.columns Score: 
	div.row
		div#board-left.large-6.columns.box
		div#board-right.large-6.columns.box
			